*{ 
    font-family: 'Bebas Neue', cursive;
    margin: 0;
	padding: 0;
}

header, footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 24px;
    height: 64px;
    background-color: #000000;
}

footer{
    justify-content: center;
    position:fixed;
    bottom:0;
    width: 100%;
}

.name{
    height: 17px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #a2a2a2;
}

.material-icons {
    width: 24px;
    height: 24px;
    color: #a2a2a2;
}

.material-icons:hover{
    cursor: pointer;
}