*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 24px;
    height: 64px;
    background-color: #000000;
}

header{
    position: sticky;
    top: 0;
}

footer{
    justify-content: center;
    width: 100%;
}

nav{
    display: none;
}

.name{
    height: 17px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #a2a2a2;
}

.material-icons {
    width: 24px;
    height: 24px;
    color: #a2a2a2;
}

.material-icons:hover{
    cursor: pointer;
}

.menuButton:focus{
    background-color: yellow;
}

article{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
}

.whiteArticle{
    background-color: #e7e7e7;
    padding-top: 60px;
    padding-bottom: 5%;
}

.hi{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 24px;
    font-weight: 300;
}

.welcomeText{
    font-size: 36px;
    letter-spacing: 3px;
}

.mail{
    width: 160px;
    padding: 13px 36px 13px 36px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    color: #1c6698;
    border: 2px solid #1c6698;
    margin-top: 34px;
    text-decoration: none;
}

.mail:hover{
    cursor: pointer;
}

.about{
    background-color: #000000;
    color: #a2a2a2;
    padding-top: 60px;
}

.aboutTittle{
    font-size: 20px;
    letter-spacing: 1.67px;
    margin-bottom: 23px;
}

.aboutText{
    width: 80%;
}

iframe{
    width: 70%;
    margin-top: 48px;
    margin-bottom: 7%;
}

.skillsTittle{
  font-size: 20px;
  letter-spacing: 1.67px;
  margin-bottom: 40px;
}

.scrollMenu{
    display: flex;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

.skillBox{
    width: 208px;
    min-height: 360px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #000000;
    color: #a2a2a2;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

.skillName{
    width: 137px;
    font-size: 14px;
    letter-spacing: 1.5px;
    border: solid 1px #ffffff;
    padding: 1px;
}

.skillSection{
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 15px;
}

.skillSectionText{
    width: 137px;
    font-size: 14px;
    letter-spacing: 1.5px;
}

ul{
    list-style-type: none;
}

/* ------------ FORM CSS ------------ */

.formPage{
    height: 100%;
}

form{
    text-align: start;
    width: 100%;
    padding:10%;
}

.formText{
    width: 60%;
}

label{
    font-size: 14px;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    margin-top: 5px;
    border-radius: 3px;
    border: solid 1px #a2a2a2;
    background-color: #e7e7e7;
}

input[type=text], input[type=email] {
    height: 40px;
    margin-bottom: 5px;
}

textarea{
    height: 124px;
    margin-bottom: 50px;
}

.submitButton{
    text-align: center;
}

/* MEDIA RULES FOR ALL SIZES */

@media screen and (min-width: 780px) {
    .hi{
        font-size: 24px;
    }
    .welcomeText{
        font-size: 80px;
    }
    .aboutTittle{
        font-size: 36px;
    }
    .aboutText{
        font-size: 20px;
    }
    .skillsTittle{
        font-size: 36px;
    }
    .formText{
        font-size: 36px;
    }
    label{
        font-size: 20px;
    }

    .formFirstFields{
        display: flex;
        justify-content: space-between;
    }
    .formFirstField{
        width: 45%;
    }
    .formSecondField{
        width: 45%;
    }
    .scrollMenu{
        justify-content: center;
    }

    #menuIcon{
        display: none;
    }
    nav{
        display: flex;
    }
    .menuNav{
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 2.14px;
  color: #a2a2a2;
        margin-right: 10px;
    }
}